@import "../../styles/common/shared";
@import "../../styles/layout/shared";

.MyAccount {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: {
    top: $header-height;
    right: auto;
    left: auto;
  }

  position: relative;
  width: $width-box;
  z-index: 50;

  &--container {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;

    @extend %--fw_container;
  }

  &--forms {
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-top: $header-height;

    &__title {
      width: 100%;
      text-align: start;
      margin: {
        top: 40px;
        bottom: 40px;
      }
    }

    &__account,
    &__billing-day,
    &__contact-preferences,
    &__payment-method,
    &__shipping,
    &__wine-preferences,
    &__subscription {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      justify-items: flex-start;
      min-height: 450px;
      width: 45%;
      word-wrap: break-word;
    }

    &__billing-day,
    &__payment-method,
    &__subscription {
      width: 31%;
    }

    &__wine-preferences {
      width: 100%;
    }

    &__account {
      p {
        text-align: start;
        max-width: 100%;
      }
    }

    &__shipping {
      align-items: flex-end;
      position: relative;

      p {
        text-align: end;
        max-width: 100%;
      }
    }

    &__contact-preferences {
      align-items: flex-end;
      position: relative;
    }

    &__account,
    &__payment-method,
    &__shipping {
      button:not(.icon) {
        background-color: #fff;
        border: 3px solid $brand-danger;
        border-radius: 5px;
        color: $brand-danger;
        font-weight: bold;
        font-size: 1rem;
        height: 50px;
        margin: 15px 0;
        text-transform: uppercase;
        width: 300px;

        &:hover {
          background-color: $brand-danger;
          color: white;
        }
      }
    }
  }
}
