@import '../common/shared';

.Card {
  border-bottom: 2px solid $brand-color;
  box-shadow: $card-shadow;
  margin: 5px 0;
  padding: 10px 20px;

  &--container {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    font-size: 16px;
  }

  &--header {
    display: flex;
    flex-direction: row;
    font-size: $title-size;
    margin-bottom: 15px;
    color: $brand-color;
  }

  &--content {
    &__line {
      margin: 5px 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      color: #666;

      &:first-child {
        color: #111;
      }
    }
  }

  &--footer {
    //  style for card footer
  }
}

.flexRow {
  display: flex;
  flex-direction: row;
}
