@import '../../../styles/common/shared';
@import '../../../styles/layout/shared';

.ShoppingCart {
  position: relative;

  &--box-icon {
    background: transparent;
    border: none;

    .icon {
      height: auto;
      position: relative;
      top: 2px;
      width: 25px;
    }

    .counter {
      background: $brand-danger;
      border-radius: 50%;
      color: #fff;
      font-size: 10px;
      padding: 4px;
      font-weight: bold;
      left: 22px;
      position: absolute;
      min-width: 10px;
    }
  }

  &--modal {
    display: flex;

    &--container {
      flex-direction: column;
      display: flex;
      width: 100%;
    }

    &--list {
      list-style: none;
      width: 80%;

      .item {
        display: flex;
        font-size: 1rem;
        justify-content: space-between;
        width: 100%;
      }
    }

    &--actions {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin: 20px 10px;

      .cta-modal {
        border-radius: 5px;
        font-size: 1rem;
        font-weight: bold;
        text-decoration: none;

        &:first-child {
          background: #fff;
          color: $brand-danger;
          padding: 10px;
          text-transform: uppercase;
          border: 2px solid $light-grey;
        }

        &:nth-child(2) {
          background: $brand-danger;
          color: #fff;
          padding: 10px;
          text-transform: uppercase;
          border: 2px solid $brand-danger;
        }
      }
    }
  }

  &--item-quantity {
    display: flex;
    margin: 5px;
  }
}
