@import "../../styles/common/shared";
@import "../../styles/layout/shared";

.SpecialPacks {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  width: $width-box;
  z-index: 50;
  margin: {
    top: $header-height;
    right: auto;
    left: auto;
  }

  &--container {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;

    @extend %--fw_container;

    .subtitle {
      font-weight: normal;
    }

    &__inner {
      align-self: center;
      display: flex;
      flex-direction: column;
      margin: auto;
      max-width: $max-width-box;
      width: $width-box;
    }
  }

  &--list {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &--item {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    width: 100%;

    &--image {
      width: auto;

      img {
        width: 80%;
        margin: 10px;
        height: auto;
      }
    }

    &--description {
      width: 90%;
      padding: 20px 5%;
      text-align: left;
      display: flex;
      flex-direction: column;
    }
  }
}
