@font-face {
  font-family: "BauPro-Regular";
  src: url("BauPro.woff2") format("woff2"), url("BauPro.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BauPro-Medium";
  src:
    url("BauPro-Medium.woff2") format("woff2"),
    url("BauPro-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "BauPro-Italic";
  src:
    url("BauPro-Italic.woff2") format("woff2"),
    url("BauPro-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
