/**
 *  Define scss variables here.
 */

/* #######  Screen Sizes ####### */
// Variable settings for grids and what not
$gutter: 20px;
$gutterTablet: 10px;
$gutterDesktop: 15px;

// Breakpoints
$bpMaxMobile: 767px;
$bpMinTablet: 768px;
$bpMinDesktop: 980px;
$bpMaxDesktop: 1200px;
$bpSmallMobile: 450px;

/* #######  Text settings ####### */
$defaultFontSize: 1.6em;
$m-size: 1.1rem;
$title-size: 1.5rem;
$large-size: 2.6rem;
$xlarge-size: 4rem;
$s-size: 1rem;
$font-size-base: 14px;
$font-family-sans-serif: Poppins, Helvetica, sans-serif;

/* #######  Colours ####### */
// Custom Colors
$cyan: #33e0ff;
$humility: #777;
$light-grey: #b6b6b6;
$brand-color: #b4975d;
$navbar-default-background: #1f2532;

// Status colors
$active: #2fac72;
$skip: #f56;
$cancel: #f56;
$pause: #f56;

// Bootstrap Variables
$brand-primary: $brand-color;
$brand-secondary: #e25139;
$brand-success: #5cb85c;
$brand-warning: #f0ad4e;
$brand-danger: #d9534f;
$brand-info: #5bc0de;
$text-color: #333;

/* #######  App Wide Measures ####### */
$header-height: 70px;
$navbar-height: 60px;

/* #######  UI Details ####### */
$card-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
$border-brand: 2px solid $brand-color;
$max-width-box: 1170px;
$width-box: 95%;
$padding-box: 0 2.5%;

/* #######  External Libraries ####### */
// REACT TOASTIFY
$rt-namespace: 'Toastify';
$rt-toast-width: 320px !default;
$rt-toast-background: #fff !default;
$rt-toast-min-height: 64px !default;
$rt-toast-max-height: 800px !default;

$rt-color-default: #fff !default;
$rt-color-info: #3498db !default;
$rt-color-success: #07bc0c !default;
$rt-color-warning: #f1c40f !default;
$rt-color-error: #e74c3c !default;

$rt-color-progress-default: linear-gradient(
  to right,
  #4cd964,
  #5ac8fa,
  #007aff,
  #34aadc,
  #5856d6,
  #ff2d55
) !default;

$rt-mobile: 'only screen and (max-width : 480px)' !default;
$rt-font-family: sans-serif !default;
$rt-z-index: 9999 !default;
