@import '../../styles/common/shared';
@import '../../styles/layout/shared';

.Quiz {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: {
    top: $header-height;
    right: auto;
    left: auto;
  }

  position: relative;
  width: $width-box;
  z-index: 50;

  &--container {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;

    @extend %--fw_container;
  }

  &--form {
    align-items: center;
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-top: $header-height;

    &-input {
      margin-top: 20px;
      width: $width-box;
    }

    button {
      background-color: #fff;
      border: 3px solid $brand-danger;
      border-radius: 5px;
      color: $brand-danger;
      font-weight: bold;
      font-size: 1rem;
      height: 50px;
      margin: 15px 0;
      text-transform: uppercase;
      width: 300px;

      &:hover {
        background-color: $brand-danger;
        color: white;
      }

      &:disabled {
        cursor: not-allowed;
        border-color: $humility;
        color: $humility;

        &:hover {
          background-color: #fff;
          color: $humility;
        }
      }
    }
  }
}
