@import '../../../styles/common/shared';
@import '../../../styles/layout/shared';

.DeleteProductFromShoppingCartButton {
  button {
    background-color: #fff;
    border: 3px solid $brand-danger;
    border-radius: 5px;
    color: $brand-danger;
    font-weight: bold;
    font-size: 1rem;
    height: 50px;
    margin: 15px 0;
    text-transform: uppercase;
    width: 100px;
  }
}
