.WineRatingList {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &--list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &--item {
      border: 1px dashed black;
      min-height: 70px;
      margin: 20px 1%;
      padding: 15px 2px;
      width: 30%;
    }
  }
}
