@import "../../styles/common/shared";
@import "../../styles/layout/shared";

.SpecialPackDetails {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 50;
  margin: {
    top: $header-height;
    right: auto;
    left: auto;
  }

  &--container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    width: 100%;

    .subtitle {
      font-weight: normal;
    }

    &__inner {
      align-self: center;
      display: flex;
      flex-direction: column;
    }
  }

  &--hero-banner {
    width: 100vw;
    height: 800px;
    overflow: hidden;
    position: relative;

    &.DARK_BG {
      color: #fff;
    }

    &.LIGHT_BG {
      color: #000;
    }

    &__image {
      bottom: 45%;
      height: auto;
      min-width: 100%;
      min-height: 450px;
      position: relative;
    }

    &__title {
      position: absolute;
      top: 100px;
      width: 30%;
      right: 20%;

      h1 {
        font-size: 2.3em;
      }
    }
  }

  &--content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;

    &:nth-child(odd) {
      flex-direction: row-reverse;
    }

    &__title,
    &__image {
      width: 50%;
      height: auto;

      img {
        width: 100%;
        height: auto;
      }
    }

    &__option-name {
      display: inline-flex;
      font-weight: bold;
    }
  }

  button {
    background-color: $brand-danger;
    border: 3px solid $brand-danger;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1rem;
    margin: 15px 5px;
    padding: 10px;
    text-transform: uppercase;
    text-decoration: none;
    width: 300px;
    text-align: center;
    color: #fff;
  }
}
