@import '../../../styles/common/shared';
@import '../../../styles/layout/shared';

.MemberBadges {
  width: 100%;
  height: auto;

  &--latest {
    font-weight: bold;

    p {
      margin-top: 0;
    }

    button {
      text-transform: uppercase;
    }

    span {
      display: block;
    }
  }

  &--next-up {
    margin-top: 25px;
    font-weight: bold;

    img {
      filter: grayscale(100%);
    }

    p {
      margin-top: 0;
    }
  }
}
