@import "../../../styles/common/shared";
@import "../../../styles/layout/shared";

.CheckoutShippingAddressForm {
  position: relative;
  height: auto;
  display: flex;
  flex-direction: column;
  width: 100%;

  &--form {
    width: 100%;
    height: auto;

    form {
      display: flex;
      flex-direction: column;
      align-items: normal;
      width: 100%;
      height: auto;
    }
  }

  .input-select {
    display: flex;
    align-items: flex-start;
    position: relative;
    left: 1px;
    margin: 20px 0;

    label {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      select {
        margin: 10px 0;
      }
    }
  }
}
