@import '../../../styles/common/shared';
@import '../../../styles/layout/shared';

.AccountDetailsForm {
  position: relative;
  height: auto;
  display: flex;
  align-self: flex-end;
  flex-direction: column;
  width: 100%;

  &--form {
    width: 100%;
    height: auto;

    form {
      display: flex;
      flex-direction: column;
      align-items: normal;
      width: 100%;
      height: auto;
    }
  }
}
